.root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  background: var(--grey-color);
  padding: 1rem 0;
}

.content {
  width: 100%;
  height: calc(100% - 2rem);
  position: absolute;
  padding: 0 1rem;
}

.slideIn {
  &.fromLeftToRight {
    animation: fromLeftToRightSlideIn .3s ease-in-out forwards;
  }

  &.fromRightToLeft {
    animation: fromRightToLeftSlideIn .3s ease-in-out forwards;
  }
}

.slideOut {
  &.fromLeftToRight {
    animation: fromLeftToRightSlideOut .3s ease-in-out forwards;
  }

  &.fromRightToLeft {
    animation: fromRightToLeftSlideOut .3s ease-in-out forwards;
  }
}

@keyframes fromLeftToRightSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromLeftToRightSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fromRightToLeftSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromRightToLeftSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}