.todoItemWrapper {
  padding-bottom: 3px;

  .todoItem {
    background: var(--orange-color);
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border: 2px solid #000000;
    border-radius: 0.8rem;
    box-shadow: 0px 3px 0px 0px #000000;

    .todoTogglerWrapper {
      width: 28px;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .togglerPlug {
        position: absolute;
        height: 28px;

        svg {
          width: 28px;
          height: 28px;
        }
      }

      .togglerMain {
        position: relative;
        z-index: 5;
      }
    }

    .todoText {
      position: relative;

      .todoTextCrossLine {
        display: block;
        background-color: #000000;
        height: 2px;
        width: 0;
        position: absolute;
        left: -0.25rem;
        top: calc(100% / 2);
        transition: width 0.2s ease;

        &.visible {
          width: calc(100% + 0.5rem);
        }
      }
    }

    .todoActionWrapper {
      margin-left: auto;
      /* width: 0; */

      .todoAction {
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 20px;
          width: 20px;
        }
      }
    }

    &.addingAnimation {
      .todoTogglerWrapper {
        .togglerPlug {
          animation: togglerCapAnimation 0.3s ease-in-out forwards;
        }

        .togglerMain {
          animation: togglerMainAnimation 0.3s ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes togglerCapAnimation {
  0% {
    opacity: 1;
    rotate: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    rotate: 360deg;
  }
}

@keyframes togglerMainAnimation {
  0% {
    opacity: 0;
    rotate: -360deg;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    rotate: 0;
  }
}
