.navbar {

  .navbarItems {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .navbarItem {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}